.container {
  margin: auto;
  margin-top: 100px;
  padding: 75px;
  text-align: center;
  width: 600px;
  max-height: 600px;
  background-color: rgba(112, 136, 87, 0.4);
}

footer {
  text-align: center;
  color: black;
  opacity: 0.8;
}

a {
  color: rgb(56, 73, 38);
}

h1 {
  line-height: 28px;
}

p {
  font-size: 14px;
  line-height: 1.5;
}

.specs {
  text-align: left;
}

.container2 {
  column-count: 4;
  column-width: 50px;
  column-gap: 20px;
  min-height: 200;
  margin-top: 150px;
  border-top: 1px solid rgb(56, 73, 38);
  padding-top: 20px;
}

.deets {
  text-align: left;
  margin-top: 50px;
  color: black;
}

.city {
  font-size: 20px;
}

#searchCity {
  width: 500px;
  border: none;
  border-radius: 20px;
  padding: 10px;
  background-color: whitesmoke;
}
#searchCity:focus {
  outline: none;
  background-color: whitesmoke;
}

.displayCity {
  font-size: 46px;
}

#searchButton {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: rgb(56, 73, 38);
  color: whitesmoke;
}
.tempDisplay {
  text-align: right;
  padding: none;
}

.search {
  border-bottom: 1px solid whitesmoke;
  padding-bottom: 40px;
  width: auto;
}
.deets {
  display: flex;
  justify-content: space-around;
}

#weatherIconTempandUnit {
  display: flex;
}

.weatherNumericalValue {
  font-size: 70px;
  font-weight: bold;
}
.weatherUnit {
  font-size: 28px;
}
.weatherIcon {
  font-size: 42px;
  margin-top: 22px;
  margin-right: 10px;
}

#high {
  font-weight: 700;
  color: rgb(23, 39, 6);
}
#low {
  opacity: 0.8;
}

.containerMini {
  background-color: rgba(245, 245, 245, 0.6);
  border-radius: 15px;
  padding: 6px;
  font-size: 22px;
  margin-top: 22px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: black;
}
