.container {
  margin: auto;
  margin-top: 100px;
  padding: 75px;
  text-align: center;
  width: 600px;
  max-height: 600px;
  background-color: rgba(255, 242, 217, 0.5);
}

body {
  background-image: url(storm.avif);
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  text-align: center;
  color: antiquewhite;
}

a {
  color: orange;
}

h1 {
  line-height: 28px;
}

p {
  font-size: 14px;
  line-height: 1.5;
}

.specs {
  text-align: left;
}

.container2 {
  column-count: 4;
  column-width: 50px;
  column-gap: 20px;
  min-height: 200;
  margin-top: 150px;
  border-top: 1px solid white;
  padding-top: 20px;
}

.deets {
  text-align: left;
  margin-top: 50px;
  color: rgb(2, 11, 36);
}

.city {
  font-size: 20px;
}

#searchCity {
  width: 500px;
  border: none;
  border-radius: 20px;
  padding: 10px;
  color: rgb(2, 11, 36);
}

#searchButton {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: rgb(2, 11, 36);
  color: white;
}
.tempDisplay {
  text-align: right;
  padding: none;
}

.search {
  border-bottom: 1px solid white;
  padding-bottom: 40px;
}
.deets {
  display: flex;
  justify-content: space-around;
}

#weatherIconTempandUnit {
  display: flex;
}

.weatherNumericalValue {
  font-size: 70px;
  font-weight: bold;
}
.weatherUnit {
  font-size: 28px;
}
.weatherIcon {
  font-size: 42px;
  margin-top: 22px;
  margin-right: 10px;
}
